%btn-reset
  all: unset
  cursor: pointer
  text-decoration: none
  user-select: none
  appearance: none

  color: var(--z-btn_color, inherit)
  font-size: var(--z-btn_fz, inherit)
  text-transform: var(--z-btn_tt, none)
  background-color: var(--z-btn_bgc, transparent)
  border: var(--z-btn_bdw, 0) solid var(--z-btn_bdc, transparent)
  padding: var(--z-btn_ptb, 0) var(--z-btn_plr, 0)
  border-radius: var(--z-btn_bdrs, 0)

//================================================================================

%inp-reset
  background-color: var(--inp_bgc, transparent)
  border: var(--inp_bdw, 1px) solid var(--inp_bdc, #767676)
  color: var(--inp_color, inherit)
  &:focus
    background-color: var(--inp_bgc, transparent)
    outline: none


// wrapper
%wr
  max-width: var(--wr, none)
  padding-left: var(--wr_offset, 0)
  padding-right: var(--wr_offset, 0)
  margin-left: var(--wr_ml, auto)
  margin-right: var(--wr_mr, auto)
//================================================================================

%list-reset
  padding: 0
  margin: 0
  list-style-type: none


%pre
  word-wrap: break-word
  white-space: pre
%pre-wrap
  word-wrap: break-word
  white-space: pre-wrap
%pre-line
  word-wrap: break-word
  white-space: pre-line
