html
  color: var(--root_txt)
  font-size: var(--root_fz)
  font-family: var(--root_ff)
  line-height: var(--root_lh)
  letter-spacing: var(--root_ls)
  background-color: var(--root_bgc)

.page-wrap
  min-height: 100vh
  display: grid

.main
  padding: 0 max(max(15px, 100vw / 1000 * 50), (100% - 900px) / 2) 60px

